name: 部署文档

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  deploy-gh-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 设置 Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm

      - name: 安装依赖
        run: |
          corepack enable
          npm ci

      - name: 构建文档
        env:
          NODE_OPTIONS: --max_old_space_size=8192
        run: |-
          npm run docs:build
          > src/.vuepress/dist/.nojekyll
      - name: Setup Pages
        uses: actions/configure-pages@v5
        if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
      - name: Build with Jekyll
        uses: actions/jekyll-build-pages@v1
        with:
          source: ./src/.vuepress/dist
        if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: deploy-gh-pages
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
    if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}

